.first-wrapper{
    @apply lg:flex lg:flex-row block px-[11.9rem] pt-[7.2rem] pb-[2rem];
     background: linear-gradient(42.43deg, #C6DBFF 0%, #E1EBFA 52.25%);
}
.image-wrapper{
    @apply lg:relative
}
.image-one{
    @apply lg:pb-[13.37rem]
}
.image-two{
    @apply z-10 lg:absolute lg:top-[11.5rem] lg:left-[12rem] mt-[1rem] mb-[2rem]
}
.about-part{
    @apply flex flex-col lg:pl-[13.31rem] 
}
.about-title{
    @apply lg:w-[31.25rem] 
}
.about-description{
    @apply lg:w-[30rem] text-[#678C92]  
}
.second-section{
    @apply bg-[#F4F7FF] pt-[8.12rem] pb-[8.12rem] flex items-center flex-col
}
.statistic{
    @apply text-[#5BCCDE] font-medium
}
.dev{
    @apply text-[#486A6F] font-bold mb-[5rem] lg:text-4xl
}
.square{
    @apply lg:w-[64rem] lg:h-[9.81rem] rounded py-[2.68rem] px-[5.56rem] mb-[5rem];
    background: linear-gradient(88.65deg, #C6DBFF 0%, #E1EBFA 100%);
    box-shadow: 0px 5px 10px 5px #E1EBFA;
}
.wrap{
    @apply lg:flex grid gap-[2rem] 
}
.flex-images{
    @apply flex gap-[2.5rem] 
}
.imageNumber{
    @apply pr-[4.5rem] lg:border-r-2 border-[#486A6F] mr-[3.12rem]
}
.numbering{
    @apply mt-2 text-[#678C92]
}
.third-section{
    @apply bg-[#F4F7FF] lg:h-[108.62rem] lg:flex flex-col pt-[3rem] px-[14.31rem] pb-[3rem] items-center
}
.passports{
    @apply lg:grid lg:grid-cols-3 lg:gap-[2.5rem] grid gap-[2rem];
}
.let{
    @apply mb-[3.93rem]  text-[#486A6F] font-bold text-4xl
}
.surname-wrapper{
    @apply py-[1.31rem] pl-[1.25rem];
    background: linear-gradient(88.65deg, #C6DBFF 0%, #E1EBFA 100%);
    border-radius: 0 0 5px 5px;
}
.surname{
    @apply text-[#486A6F] font-bold mb-[0.31rem]
}
.worker{
    @apply text-[#678C92] font-medium
}
.shadow{
    box-shadow:  10px 5px 5px 1px #4397A4;
}
/* background: linear-gradient(88.65deg, #C6DBFF 0%, #E1EBFA 100%); */

