.home{
    @apply overflow-x-hidden;
}

.figure img{
@apply hidden lg:block absolute h-[45rem] w-[30rem] top-0 object-contain right-0 shadow-sm ;
    z-index:1; 
}
.home-sections{
    @apply lg:flex pt-[3.75rem]  relative overflow-hidden lg:h-screen pb-[5rem] px-[8rem];
    z-index: 2;
    background:#E1EBFA
}
.leftSection{
    @apply mt-[8rem];
}
.development{
    @apply w-[500px] h-[9rem] text-3xl md:text-4xl lg:text-6xl text-[#486A6F] font-bold;
}
.developer{
    @apply w-[480px] h-[72px] lg:text-2xl text-[#678C92] font-normal mt-[1.25rem];
}
.button{
    @apply flex items-center gap-x-[20px];
}
.services{
    @apply py-[20px] px-[26px] bg-[#4397A4] text-[#F4F7FF] font-bold rounded; 
}
.about{
    @apply py-[20px] px-[49px] text-[#486A6F] bg-[#C6DBFF] font-bold rounded;
}
.right-section{
    @apply flex flex-col mt-[3rem];
    z-index: 20;

}
.top-house{
    @apply flex items-end gap-x-[2.1rem];
}

.white-house{
    @apply w-[8rem] h-[8rem];
}
.blue-house{
    @apply w-[12rem] h-[12rem];
}
.pink-house{
    @apply w-[9rem] h-[9rem];
}
.down-house{
    @apply flex items-start gap-x-[2rem] mt-[2.57rem];
}
.black-house{
    @apply w-[15rem] h-[20rem] pb-[7rem];
}
.white-pool{
    @apply w-[10rem] h-[10rem];
}
.section-two{
    @apply bg-[#F4F7FF];
}
.wrapper{
    @apply flex flex-col  pt-[12rem] lg:pl-[12.5rem] px-[8rem] lg:pr-[12.41rem] pb-[12rem] 
} 
.title{
    @apply text-4xl font-bold text-[#486A6F] flex justify-center
}
.second-wrapper{
    @apply justify-between flex flex-col lg:flex-row pt-[8rem]  gap-[0.62rem] text-[#486A6F] 
}
.second-wrapper .img-box{
    @apply w-[4.375rem] h-[4.375rem] bg-Igreen lg:flex flex-col items-center justify-center rounded lg:mr-[19.79rem] mr-[5rem]
}
.little-wrapper{
    @apply flex flex-col 
}
.inside-wrapper{
    @apply flex flex-col
}
.img-box{
    @apply mb-[1.25rem]
}
.innovation-title{
    @apply mb-[0.62rem] text-[#486A6F] font-bold text-2xl
}
.description{
    @apply font-medium text-[#678C92] w-[16.75rem] 
}
.section-three{
    @apply bg-[#E1EBFA] lg:h-[56.18rem] pt-[4.2rem] pb-[4.2rem]
}
.logos{
    @apply grid grid-cols-2 gap-5 md:flex items-center justify-center  md:gap-x-[2.5rem] border-y-2 border-[#678C92] lg:w-[75rem] mx-[7.5rem] pt-[2.39rem] pb-[2.45rem]
}
.about-section{
    @apply lg:flex items-center mt-[5rem] mx-[11.25rem] 
}
.about-section img{
    @apply mr-[3.75rem] w-[31.25rem] h-[23.43rem]
}
.about-right{
    @apply lg:flex flex-col mt-[2rem]
}
.about-us{
    @apply flex items-start justify-start mb-[1.25rem] text-[#5BCCDE] 
}
.about-title{
    @apply text-[#486A6F] font-bold text-4xl mb-[1.25rem]
}
.about-desc{
    @apply text-[#678C92] font-medium text-[1rem] mb-[2.5rem]
}
.section-four{
    @apply lg:h-[56.23rem] bg-[#F4F7FF] pt-[10.73rem] pb-[5rem]
}
.wrapper-four{
    @apply lg:flex items-center justify-between mx-[11.25rem] gap-[3.56rem]
}
.left-four{
    @apply lg:flex flex-col w-[30rem] pb-[5rem]
}
.right-four{
    @apply grid grid-cols-2 gap-[1.9rem]
}
.four-available{
    @apply text-[#5BCCDE] font-medium mb-[1.25rem] 
}
.four-featured{
    @apply text-[#486A6F] font-bold text-4xl mb-[1.25rem]
}
.four-lorem{
    @apply text-[#678C92] font-medium mb-[2.5rem]
}
.first-image{
    @apply mb-[1.81rem] mr-[1.87rem] w-[14.5rem] h-[12.81rem]
} 
.second-image{
    @apply w-[15.18rem] h-[20.68rem] items-start pl-10
}
.third-image{
    @apply w-[12.12rem] h-[20.68rem] mr-[1.87rem] 
}
.fourth-image{
    @apply w-[13.43rem] h-[8.43rem] mt-[1.87rem]
}
.section-five{
    @apply bg-[#E1EBFA] lg:h-[56.23rem] flex flex-col items-center pt-[8.58rem] font-medium pb-[5rem]
}
.five-one{
    @apply text-[#5BCCDE] mb-[0.62rem] 
}
.five-two{
    @apply text-[#486A6F] font-medium text-4xl mb-[2.5rem]
}
.cards{
    @apply grid lg:grid-cols-3 gap-[1.25rem]
}
